* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Roboto Cn", sans-serif;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #eee;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom, rgba(1, 79, 168, 0.6), rgba(219, 62, 56, 0.3)), url("../images/hospital.jpg") center no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 89%, 20% 95%, 0 91%, 0 0);
}

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

nav {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.logo {
    font-size: 3rem;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: moveLeft .5s forwards;
}

.logo span {
    color: crimson;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    transform: translateX(-200rem);
    animation: moveRight .5s forwards;
}

nav ul li:nth-child(1) {
    animation-delay: 0s;
}

nav ul li:nth-child(2) {
    animation-delay: .33s;
}

nav ul li:nth-child(3) {
    animation-delay: .66s;
}

nav ul li:nth-child(4) {
    animation-delay: 1s;
}

nav ul li a {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

nav ul li a:last-child {
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before {
    top: 0;
    transform-origin: left;
}

nav ul li a::after {
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    transform: scaleX(1);
}

.text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center;
}

.primary-heading {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.heading-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-right: -3.5rem;
    animation: moveLeft 1s forwards;
}

.heading-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-right: -1.75rem;
    animation: moveRight 1s forwards;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.6rem;
    border: none;
    background-color: crimson;
    color: #fff;
    transition: all .2s;
    animation: moveUp 1s forwards;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

footer {
    width: 100%;
    background-color: #222;
    padding: 60px 0px;
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100%{
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    100%{
        opacity: 1;
        transform: translate(0)
    }
}

